{% extends "pages/base.html" %}
{% load staticfiles %}
{% block content %}
<p>
    <input type="text" name="addcode" id="addcode"> 
    {% csrf_token %}
    <button id="btnadd">Add</button>
</p>
<table id="tbl">
    <thead>
        <tr>
            <td>code</td>
            <td>active</td>
        </tr>
    </thead>

    <tbody>
        {% for item in codes %}
        <tr>
            <td>{{item.code}}</td>
            <td>{{item.active}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}